{{yield}}
<div class="flex ba">
  <div class="w5 bg-gray">
    <div class="white">
      Modelo 1
    </div>

  </div>

<div class="dragscroll">
  <svg id="svg" width="{{width}}" height="{{height}}"></svg>
</div>
</div>
